.page {
  width: 350px;
  height: 650px;
  padding-left: 25px;
  padding-right: 100px;
  background-color: #D3D0CB;

}

#article_title {
  font-family: "Anton", sans-serif;
  letter-spacing: 5px;
  font-weight: 500;
  font-size: 30px;
  color: #461220;
  box-shadow: 5px 10px;
}

#intro {
  font-family: "Oswald", sans-serif;
  line-height: 2.5;
  color: #8C2F39;
}

.question{
  font-family: "Railway", sans-serif;
  color: #4C5760;
  font-weight: 600;
  margin-bottom: 0px;
}

.answer{
  font-family: "Railway", sans-serif;
  font-weight: 100;
  color: #4C5760;
  margin-top: 0px;
}

#block_quote {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: #8C2F39;
  border-left: 2px solid black;
  width: 200px;
  margin-left: 80px;
  padding-left: 10px;
  border-radius: 10%;
}
