.cover {
  width: 350px;
  height: 500px;
  /* finish your styling of the cover div here! */
  background-color: gray;
}
#title {
  font-size: 50px;
  text-align: center;
  /*font-family: "SourceCodePro", sans-serif;*/
}

#subtitle {
  text-align: center;
  color: aqua;
  font-size: 20px;
  font-family: "SourceCodePro", sans-serif;
}

#cover_image {

}
