.cover {
  width: 350px;
  height: 500px;
  /* finish your styling of the cover div here! */
  background-color: gray;
  opacity: .9;
}
#title {
  font-size: 50px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding-top: 50px;
  color: black;
  opacity: 1;
  padding-bottom: 0px;
  text-shadow: 2px 2px;
}

#subtitle {
  text-align: right;
  color: aqua;
  font-size: 20px;
  font-family: "SourceCodePro", sans-serif;
  margin-right: 20px;
  opacity: .9;
}

#cover_image {
  width: 250px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}
